<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner">
          <ul class="bread-list">
            <li><a href="index.html">Home<i class="ti-arrow-right"></i></a></li>
            <li class="active"><a href="blog-single.html">Blog Single Sidebar</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Blog Single -->
<section class="blog-single section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12">
        <div class="blog-single-main">
          <div class="row">
            <div class="col-12">
              <div class="image">
                <img src="https://via.placeholder.com/950x460" alt="#">
              </div>
              <div class="blog-detail">
                <h2 class="blog-title">Nombre del producto</h2>
                <div class="blog-meta">

                </div>
                <div class="content">
                  <p>What a crazy time. I have five children in colleghigh school graduates.jpge or pursing post graduate studies  Each of my children attends college far from home, the closest of which is more than 800 miles away. While I miss being with my older children, I know that a college experience can be the source of great growth and experience can be the source of source of great growth and can provide them with even greater in future.</p>
                </div>
              </div>

            <div class="col-12">
              <div class="comments">
                <h3 class="comment-title">Comentarios (3)</h3>
                <!-- Single Comment -->
                <div class="single-comment">
                  <img src="https://via.placeholder.com/80x80" alt="#">
                  <div class="content">
                    <h4>Laura Perez <span> Junio 12 de 2020</span></h4>
                    <p>Todo lo que esperaba, un tiempo de entrega adecuado. los recomiendo</p>
                    <div class="button">
                      <a href="#" class="btn"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
                    </div>
                  </div>
                </div>
                <!-- End Single Comment -->
                <!-- Single Comment -->
                <div class="single-comment left">
                  <img src="https://via.placeholder.com/80x80" alt="#">
                  <div class="content">
                    <h4>John Martinez <span>Marzo 28 de 2020</span></h4>
                    <p>Busque por muchas tiendas virtuales y compare demasiados precios, definitivamente TiendaVirtual maneja los precios mas bajos del mercado. El producto que compre es todo lo que queria. de ahora en adelante solo  les comprare a ustedes</p>
                    <div class="button">
                      <a href="#" class="btn"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
                    </div>
                  </div>
                </div>
                <!-- End Single Comment -->
                <!-- Single Comment -->
                <div class="single-comment">
                  <img src="https://via.placeholder.com/80x80" alt="#">
                  <div class="content">
                    <h4>Antonella Santamaria <span>Mayo 12 de 2020</span></h4>
                    <p>Compre mis productos el lunes en la mañana, para mi agradable  sorpresa, en la tarde ya habia recibido todo lo que ordene. me pregunto que mas se podría pedir. excelente servicio</p>
                    <div class="button">
                      <a href="#" class="btn"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
                    </div>
                  </div>
                </div>
                <!-- End Single Comment -->
              </div>
            </div>
            <div class="col-12">
              <div class="reply">
                <div class="reply-head">
                  <h2 class="reply-title">Deja un comentario</h2>
                  <!-- Comment Form -->
                  <form class="form" action="#">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-12">
                        <div class="form-group">
                          <label>Nombre<span>*</span></label>
                          <input type="text" name="name" placeholder="" required="required">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-12">
                        <div class="form-group">
                          <label>Email<span>*</span></label>
                          <input type="email" name="email" placeholder="" required="required">
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label>Mensaje<span>*</span></label>
                          <textarea name="message" placeholder=""></textarea>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group button">
                          <button type="submit" class="btn">Comentar</button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- End Comment Form -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        </div>
      </div>
    </div>

</section>
<!--/ End Blog Single -->
