<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner">
          <ul class="bread-list">
            <li><a href="index.html">Home<i class="ti-arrow-right"></i></a></li>
            <li class="active"><a href="contact.html">contactenos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Contact -->
<section id="contact-us" class="contact-us section">
  <div class="container">
      <div class="contact-head">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="form-main">
              <div class="title">
                <h3>Agregar productos</h3>
              </div>
              <form class="form" method="post" action="mail/mail.php">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Nombre<span>*</span></label>
                      <input name="name" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>valor<span>*</span></label>
                      <input name="descripcion" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>cantidad<span>*</span></label>
                      <input name="cantidad" type="number" placeholder="">
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Categoría<span>*</span></label>
                    </div>
                  <select>
                  <option selected="selected">celulares</option>
                <option>tabletas</option>
                <option>computadores</option>
                <option>accesorios</option>
              </select>

                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Url Imagen<span>*</span></label>
                      <input name="imagen" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group message">
                      <label>Descripcion<span>*</span></label>
                      <textarea name="descripcion" placeholder=""></textarea>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group button">
                      <button type="agregar" class="btn ">Agregar producto</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

            </div>
          </div>
        </div>

</section>
<!--/ End Contact -->

  <!-- Start Contact -->
<section id="contact-us" class="contact-us section">
  <div class="container">
      <div class="contact-head">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="form-main">
              <div class="title">
                <h3>Agregar Stock a productos</h3>
              </div>
              <form class="form" method="post" action="mail/mail.php">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Nombre<span>*</span></label>
                      <input name="name" type="text" placeholder="">
                    </div>
                  </div>

                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>cantidad<span>*</span></label>
                      <input name="cantidad" type="number" placeholder="">
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Categoría<span>*</span></label>
                    </div>
              <select>
                <option selected="selected">celulares</option>
                <option>tabletas</option>
                <option>computadores</option>
                <option>accesorios</option>
              </select>

                  </div>


                  <div class="col-12">
                    <div class="form-group button">
                      <button type="agregar" class="btn ">Agregar Stock</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

            </div>
          </div>
        </div>

</section>
<!--/ End Contact -->


<!-- Start Contact -->
<section id="contact-us" class="contact-us section">
  <div class="container">
      <div class="contact-head">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="form-main">
              <div class="title">
                <h3>Agregar Categotías</h3>
              </div>
              <form class="form" method="post" action="mail/mail.php">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Nombre<span>*</span></label>
                      <input name="name" type="text" placeholder="">
                    </div>
                      <div class="col-12">
                    <div class="form-group button">
                      <button type="agregarC" class="btn ">Agregar categoria</button>
                    </div>
                  </div>

                  </div>
                </div>
              </form>
            </div>
          </div>

            </div>
          </div>
        </div>

</section>
<!--/ End Contact -->
