<!-- Footer # 1 -->
<footer class="footer">

  <!-- Footer # 2 -->

  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer about">
            <div class="logo">
              <a href="index.html"><img src="images/logo2.png" alt="#"></a>
            </div>

          <p class="text">TecnoVentas es una compañía que tiene 15 años de trayectoria en el mercado de accesorios tecnológicos, contamos con una red de 8 locales en Unilago Bogotá, donde comercializamos elementos tecnológicos específicos.</p>
          <p class="call">Preguntas? Contactenos <span><a href="tel:123456789">+57 31159962225</a></span></p>
        </div>
        <!-- End Single Widget -->
      </div>
      <div class="col-lg-2 col-md-6 col-12">
        <!-- Single Widget -->
        <div class="single-footer links">
          <h4>Información</h4>
          <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Terminos & Condiciones</a></li>
            <li><a href="#">Contactenos</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </div>
        <!-- End Single Widget -->
      </div>
      <div class="col-lg-2 col-md-6 col-12">
        <!-- Single Widget -->
        <div class="single-footer links">
          <h4>Servicio al cliente</h4>
          <ul>
            <li><a href="#">Metodos de pago</a></li>
            <li><a href="#">Devoluciones</a></li>
            <li><a href="#">Cambios</a></li>
            <li><a href="#">Envíos</a></li>
            <li><a href="#">Política de privacidad</a></li>
          </ul>
        </div>
        <!-- End Single Widget -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Single Widget -->
        <div class="single-footer social">
          <h4>Locales comerciales</h4>
          <!-- Single Widget -->
          <div class="contact">
            <ul>
              <li>Centro comercial Unilago.</li>
              <li>Locales 4-12.</li>
              <li>tecnoventas@gmail.com</li>
              <li>+57 31159962225</li>
            </ul>
          </div>
            <!-- End Single Widget -->
            <ul>
              <li><a href="#"><i class="ti-facebook"></i></a></li>
              <li><a href="#"><i class="ti-twitter"></i></a></li>
              <li><a href="#"><i class="ti-flickr"></i></a></li>
              <li><a href="#"><i class="ti-instagram"></i></a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer # 2 -->

  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <p>Copyright © 2020 <a href="http://www.poli.edu.co" target="_blank">Politecnico Grancolombiano</a>  -  Todos los derechos reservados.</p>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="right">
              <img src="images/payments.png" alt="#">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /End Footer # 1 -->
