<!-- Header # 1 -->
<header class="header shop">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-12">

        </div>
        <div class="col-lg-8 col-md-12 col-12">
          <!-- Top Right -->
          <div class="right-content">
            <ul class="list-main">
              <li *ngIf="auth.loggedIn" ><i class="ti-user"></i> <a href="#">Mi cuenta</a></li>
              <li *ngIf="!auth.loggedIn" ><i class="ti-power-off"></i><a (click)="auth.login()">Inicio Sesión</a></li>
              <li *ngIf="auth.loggedIn" ><i class="ti-power-off"></i><a (click)="auth.logout()">Cerrar Sesión</a></li>
            </ul>
          </div>
          <!-- End Top Right -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <div class="middle-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-12">
          <!-- Logo -->
          <div class="logo">
            <a href="index.html"><img src="./assets/img/logo.jpeg" alt="logo" width="65%"></a>
          </div>
          <!--/ End Logo -->
          <!-- Search Form -->
          <div class="search-top">
            <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
            <!-- Search Form -->
            <div class="search-top">
              <form class="search-form">
                <input type="text" placeholder="Search here..." name="search">
                <button value="search" type="submit"><i class="ti-search"></i></button>
              </form>
            </div>
            <!--/ End Search Form -->
          </div>
          <!--/ End Search Form -->
          <div class="mobile-nav"></div>
        </div>


        <div class="col-lg-8 col-md-7 col-12">
          <div class="search-bar-top">
            <div class="search-bar">
              <select style="display: none;">
                <option selected="selected">Todos</option>
                <option>celulares</option>
                <option>tabletas</option>
                <option>computadores</option>
                <option>accesorios</option>
              </select>
              <div class="nice-select" tabindex="0">
                <span class="current">Todos</span>
                <ul class="list">
                  <li data-value="todos" class="option selected">Todos</li>
                  <li data-value="celulares" class="option">Celulares</li>
                  <li data-value="computadores" class="option">Computadores</li>
                  <li data-value="accesorios" class="option">Accesorios</li>
                </ul>
              </div>
              <form>
                <input name="search" placeholder="Busque sus productos aquí....." type="search">
                <button class="btnn"><i class="ti-search"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12">
          <div class="right-bar">
            <!-- Search Form -->
            <div class="sinlge-bar">
              <a class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            </div>
            <div class="sinlge-bar shopping">
              <a *ngIf="!auth.loggedIn" class="single-icon"><i class="ti-bag"></i> <span class="total-count">0</span></a>
              <a *ngIf="auth.loggedIn" [routerLink]="['car']" class="single-icon"><i class="ti-bag"></i> <span class="total-count">0</span></a>
              <!-- Shopping Item -->
              <div *ngIf="auth.loggedIn"  class="shopping-item">
                <div class="dropdown-cart-header">
                  <span>2 Items</span>
                  <a [routerLink]="['car']">Ver Carrito</a>
                </div>
                <ul class="shopping-list">
                  <li>
                    <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                    <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                    <h4><a href="#">Woman Ring</a></h4>
                    <p class="quantity">1x - <span class="amount">$99.00</span></p>
                  </li>
                  <li>
                    <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                    <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                    <h4><a href="#">Woman Necklace</a></h4>
                    <p class="quantity">1x - <span class="amount">$35.00</span></p>
                  </li>
                </ul>
                <div class="bottom">
                  <div class="total">
                    <span>Total</span>
                    <span class="total-amount">$134.00</span>
                  </div>
                  <a [routerLink]="['/pagar']" class="btn animate">PAGAR</a>
                </div>
              </div>
              <!--/ End Shopping Item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header # 2 -->
  <div class="header-inner">
    <div class="container">
      <div class="cat-nav-head">
        <div class="row">
          <div class="col-lg-3">
            <div class="all-category" *ngIf="router.url === '/home'">
              <h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIAS</h3>
              <ul class="main-category">
                <li><a href="#">New Arrivals <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <ul class="sub-category">
                    <li><a href="#">accessories</a></li>
                    <li><a href="#">best selling</a></li>
                    <li><a href="#">top 100 offer</a></li>
                    <li><a href="#">sunglass</a></li>
                    <li><a href="#">celulares</a></li>
                    <li><a href="#">man’s product</a></li>
                    <li><a href="#">ladies</a></li>
                    <li><a href="#">westrn dress</a></li>
                    <li><a href="#">denim </a></li>
                  </ul>
                </li>
                <li class="main-mega"><a href="#">best selling <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <ul class="mega-menu">
                    <li class="single-menu">
                      <a href="#" class="title-link">Shop Kid's</a>
                      <div class="image">
                        <img src="https://via.placeholder.com/225x155" alt="#">
                      </div>
                      <div class="inner-link">
                        <a href="#">Kids Toys</a>
                        <a href="#">Kids Travel Car</a>
                        <a href="#">Kids Color Shape</a>
                        <a href="#">Kids Tent</a>
                      </div>
                    </li>
                    <li class="single-menu">
                      <a href="#" class="title-link">Shop Men's</a>
                      <div class="image">
                        <img src="https://via.placeholder.com/225x155" alt="#">
                      </div>
                      <div class="inner-link">
                        <a href="#">celulares</a>
                        <a href="#">T-shirt</a>
                        <a href="#">Hoodies</a>
                        <a href="#">Formal Pant</a>
                      </div>
                    </li>
                    <li class="single-menu">
                      <a href="#" class="title-link">Shop Women's</a>
                      <div class="image">
                        <img src="https://via.placeholder.com/225x155" alt="#">
                      </div>
                      <div class="inner-link">
                        <a href="#">Ladies Shirt</a>
                        <a href="#">Ladies Frog</a>
                        <a href="#">Ladies Sun Glass</a>
                        <a href="#">Ladies celulares</a>
                      </div>
                    </li>
                  </ul>
                </li>
                <li><a href="#">accessories</a></li>
                <li><a href="#">top 100 offer</a></li>
                <li><a href="#">sunglass</a></li>
                <li><a href="#">celulares</a></li>
                <li><a href="#">man’s product</a></li>
                <li><a href="#">ladies</a></li>
                <li><a href="#">westrn dress</a></li>
                <li><a href="#">denim </a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <!-- Main Menu -->
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                  <div class="nav-inner">
                    <ul class="nav main-menu menu navbar-nav">
                        <li routerLinkActive="active"><a [routerLink]="['home']">Home</a></li>
                        <li routerLinkActive="active"><a [routerLink]="['productos']">Productos</a></li>
                        <li routerLinkActive="active"><a [routerLink]="['contacto']">Contactenos</a></li>
                        <li *ngIf="auth.loggedIn"  routerLinkActive="active"><a [routerLink]="['administrar']">Administrar</a></li>
                      </ul>
                  </div>
                </div>
              </nav>
              <!--/ End Main Menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header # 2 -->
</header>
<!--/ End Header # 1 -->
