<!-- Slider Area -->
<section class="hero-slider">
  <!-- Single Slider -->
  <div class="single-slider">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-9 offset-lg-3 col-12">
          <div class="text-inner">
            <div class="row">
              <div class="col-lg-7 col-12">
                <div class="hero-text">
                  <h1><span>TODO LO QUE NECESITA </span>EN UN SOLO LUGAR</h1>
                  <p>Lo último en tecnología disponible en el mercado <br> en un solo lugar y facil de comprar <br> con precios que no se pueden igualar <br> </p>
                  <div class="button">
                    <a href="productos.html" class="btn">Comprar ahora!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Single Slider -->
</section>
<!--/ End Slider Area -->
<br>

<!-- Start Small Banner  -->
<section class="small-banner section">
  <div class="container-fluid">
    <div class="row">
      <!-- Single Banner  -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-banner">
          <img src="https://via.placeholder.com/600x370" alt="#">
          <div class="content">
            <p>Celulares</p>
            <h3>Lo útimo en <br> tecnología 5G</h3>
            <a href="productos.html">Comprar ahora</a>
          </div>
        </div>
      </div>
      <!-- /End Single Banner  -->
      <!-- Single Banner  -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-banner">
          <img src="https://via.placeholder.com/600x370" alt="#">
          <div class="content">
            <p>Computadores</p>
            <h3>Las mejores <br> marcas</h3>
            <a href="productos.html">Comprar ahora</a>
          </div>
        </div>
      </div>
      <!-- /End Single Banner  -->
      <!-- Single Banner  -->
      <div class="col-lg-4 col-12">
        <div class="single-banner tab-height">
          <img src="https://via.placeholder.com/600x370" alt="#">
          <div class="content">
            <p>Accesorios</p>
            <h3>Complementos<br> para todo</h3>
            <a href="productos.html">Comprar ahora</a>
          </div>
        </div>
      </div>
      <!-- /End Single Banner  -->
    </div>
  </div>
</section>
<!-- End Small Banner -->

<br>
<br>
